.App {
  position: relative;
  padding-bottom: 2rem;
}

.attribution {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}